* {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background: linear-gradient(to right, rgb(52, 52, 146), navy);
}

container {
    display: flex;
}

search {
    width: 15%;
    min-width: 250px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#searchCityForm {
    display: flex;
    flex-direction: column;
}

#historyBtns {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: groove 3px;
}

dataContainer {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
}

current {
    border: solid black 1px;
    height: 200px;
    padding: 15px;
    margin: 10px;
}

forecast {
    background-color: lightseagreen;
    height: 200px;
    padding: 15px;
    margin: 10px;
}

.historyBtn {
    margin-top: 15px;
    background-color: lightgray;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.historyBtn:hover {
    background-color: lightblue;
}

#historyBtns {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: groove 3px;
    display: flex;
    flex-direction: column;
}

#searchCityForm {
    display: flex;
    flex-direction: column;
}

#searchCityForm input {
    font-size: 16px;
    padding: 10px;
}

#searchCityForm button {
    margin-top: 15px;
    background-color: rgb(52, 52, 146);
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

#currentWeather img {
    height: 50px;
    width: 50px;
    margin-bottom: -15px;
}
